body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: var(--color-primary-light);
    color: var(--color-brand-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}