:root {
    --color-brand-dark: #286132;
    --color-brand-light: #0b9193;
    --color-primary-light: #fdfdfd;
    --color-primary-dark: #151f20;
    --color-secondary-light: #ccc;
    --color-secondary-dark: #bbb;
}